@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --main: #1f1f1f;
  --secondary: #2d2d2d;
  --contrast: #fefefe;
  --contrast2: #c4c4c4;
  --accent1: #f56fe3;
  --accent2: #3363e9;
  --shadow-color1: rgba(0, 0, 0, 0.4);
  --shadow-color2: #8563ee;
}

img {
  pointer-events: none;
  user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main);
  color: var(--contrast);
  transition: background-color 1s, box-shadow 1s;

  .mainContainer {
    @apply w-screen flex flex-col items-center;
    position: relative;
    height: 800px;
    overflow-y: hidden;

    .blocks-container {
      right: 200%;
    }
    .button-blocks-container {
      left: 200%;
    }
    .blocks-container, .button-blocks-container {
      z-index: 100;
      position: absolute;
      height: 100%;
      width: 200%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;

      .block {
        position: absolute;
        height: 34%;
        width: 100%;
        background-color: var(--main);
        transition: background-color 1s;
      }
      .block:nth-child(1) {
        top: 50%;
        transform: translateY(-50%);
        right: 20%;
      }
      .block:nth-child(2) {
        right: 40%;
        bottom: 0px;
      }
    }
    .main-blocks-container {
      left: 0%;
      z-index: 100;
      position: absolute;
      height: 200%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      top: -80%;

      .block {
        background-color: var(--secondary);
        position: absolute;
        height: 100%;
        width: 34%;
        transition: background-color 1s;
      }
      .block:nth-child(1) {
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
      }
      .block:nth-child(2) {
        top: 40%;
        right: 0px;
      }
    }

    canvas {
      cursor: pointer;
    }

    .search__control {
      height: 5%;
      border: none;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 1.5rem;
      width: 50vw;
      transition-timing-function: ease-in-out;
      box-shadow: 0px 7px 15px 1px var(--shadow-color1);
      color: var(--contrast);
      background-color: var(--secondary);
      margin-top: 50px;
      transition: 250ms, background-color 1s;
      z-index: 10;

      .search__value-container {
        cursor: text;
        .search__single-value {
          margin-left: 1rem;
        }

        .search__placeholder {
          margin-left: 1rem;
          color: var(--contrast2);
        }
        .search__input-container {
          margin-left: 1rem;
        }
      }

      .search__indicators {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .search__loading-indicator {
          position: absolute;
          right: 100%;
        }

        .search__indicator-separator {
          background-color: var(--contrast2);
          position: absolute;
          left: 2px;
        }

        .search__indicator {
          color: var(--contrast);
        }
      }
    }

    .search__control:hover {
      transform: scale(1.03);
    }

    .search__control--is-focused {
      transform: scale(1.03);
    }

    .search__menu {
      animation-name: pop;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      position: absolute;
      overflow: hidden;
      width: 50vw;
      background-color: var(--secondary);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 3rem;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      transform: scale(1.03);

      .search__menu-list {
        .search__option {
          padding-left: 1rem;
          width: auto;
          padding-top: 1%;
          padding-bottom: 1%;
          animation-name: pop;
          animation-duration: 400ms;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        }

        .search__option:hover {
          background-image: linear-gradient(135deg, var(--accent1), var(--accent2));
          cursor: pointer;
        }
      }
    }

    @keyframes pop {
      0% {
        opacity: 0%;
      }
      100% {
        opacity: 100%;
      }
    }

    .favorites {
      margin-top: 25px;
      margin-bottom: 25px;
      height: 5%;
      width: 50vw;
      position: relative;

      .favorite {
        position: absolute;
        height: 100%;
        width: 28%;
        background-color: var(--secondary);
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 1.5rem;
        box-shadow: 0px 5px 10px 1px var(--shadow-color1);
        transition: background-color 1s, box-shadow 250ms, transform 250ms;
        animation-name: pop;
        animation-duration: 250ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
      }
      .favorite:hover {
        transform: scale(1.1);
      }
      .favoriteSelected {
        background-image: linear-gradient(135deg, var(--accent1), var(--accent2)) !important;
        box-shadow: 0px 4px 8px 1px var(--shadow-color2);
      }

      .favorite:nth-child(1) {
        left: 5%;
      }
      .favorite:nth-child(2) {
        left: 50%;
        transform: translateX(-50%);
      }
      .favorite:nth-child(2):hover {
        left: 50%;
        transform: translateX(-50%) scale(1.1);
      }
      .favorite:nth-child(3) {
        right: 5%;
      }
    }

    .forecast {
      @apply w-6/12 h-full flex flex-col items-center overflow-hidden bg-secondary relative;
      height: 60%;
      border-top-left-radius: 5rem;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 5rem;
      box-shadow: 0px 15px 30px 1px var(--shadow-color2);
      background-image: linear-gradient(135deg, var(--accent1), var(--accent2)) !important;
      font-weight: 100;
      margin-bottom: 50px;
      position: relative;

      .forecast-info-right {
        margin-right: 5%;
        margin-top: 2.5%;

        .mainTemp {
          @apply text-right text-9xl w-auto font-extrabold;
        }
      }

      .forecast-info-left {
        margin-top: 4%;
        margin-left: 5%;

        .weatherIcon {
          @apply w-1/5 mt-5;
        }
      }
    }

    .buttonsContainer {
      @apply flex justify-between;
      width: 50vw;
      height: 15%;
      margin-bottom: 50px;
      font-size: 0.9rem;

      .button {
        background-color: var(--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: center;
        cursor: pointer;
        border-top-left-radius: 1.8rem;
        border-top-right-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 1.8rem;
        box-shadow: 0px 10px 20px 1px var(--shadow-color1);
        @apply w-1/6 h-full flex flex-col leading-relaxed;
        transition: 250ms, background-color 1s;
        background-position: 50% 0%;
        font-weight: 750;
        overflow: hidden;
        height: 100%;
        position: relative;
      }
    }
    .button:hover {
      transform: scale(1.1);
    }

    .buttonSelected {
      transform: scale(1.1);
      background-position: 50% 100%;
      background-image: linear-gradient(135deg, var(--accent1), var(--accent2)) !important;
      box-shadow: 0px 5px 12px 1px var(--shadow-color2) !important;
    }

    .chart {
      @apply w-11/12 absolute bottom-5;
      height: 50%;
    }
  }
}

@media (max-width: 1024px) {
  .search__control,
  .search__menu,
  .forecast,
  .buttonsContainer,
  .favorites {
    width: 70vw !important;
  }
}

@media (max-width: 640px) {
  .mainContainer {
    height: 100vh !important;
  }

  .search__control,
  .search__menu,
  .forecast,
  .buttonsContainer,
  .favorites {
    width: 90vw !important;
  }

  .forecast {
    margin-bottom: 5vh !important;
    height: 60vh !important;
    border-top-left-radius: 3.5rem !important;
    border-bottom-right-radius: 3.5rem !important;
    box-shadow: 0px 10px 20px 1px var(--shadow-color2) !important;

    .mainTemp {
      font-size: 5rem !important;
    }
    .secondary {
      font-size: 0.8rem !important;
    }
    .city {
      font-size: 1.5rem !important;
    }
    .chart {
      width: 95% !important;
    }
    .degrees {
      display: none;
    }
    .weatherIcon {
      width: 50% !important;
    }
    .star {
      width: 18%;
    }
  }
  .favorites {
    height: 5vh !important;
    margin-top: 2.5vh !important;
    margin-bottom: 2.5vh !important;
    font-size: 0.8rem;
  }
  .search__control {
    height: 5vh !important;
    margin-top: 5vh !important;
  }
  .buttonsContainer {
    height: 12.5vh !important;
    margin-bottom: 5vh !important;
    font-size: 0.45rem !important;
  }
}
